/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

@font-face{
    font-family: 'Montserrat';
    font-weight: 300;
    src: url(./fonts/static/Montserrat-Light.ttf) format(ttf);
}
@font-face{
    font-family: 'Montserrat';
    font-weight: 400;
    src: url(./fonts/static/Montserrat-Regular.ttf) format(ttf);
}
@font-face{
    font-family: 'Montserrat';
    font-weight: 700;
    src: url(./fonts/static/Montserrat-Bold.ttf) format(ttf);
}@font-face{
    font-family: 'Montserrat';
    font-weight: 600;
    src: url(./fonts/static/Montserrat-SemiBold.ttf) format(ttf);
}
@font-face{
    font-family: 'Montserrat';
    font-weight: 500;
    src: url(./fonts/static/Montserrat-Medium.ttf) format(ttf);
}

*{
 font-family: 'Montserrat', sans-serif;
 font-weight: 400;
}
body{
    margin: 0;
    padding: 0;
}
.btn{
    background-color: rgba(96, 96, 96, 0.68);
    color: rgb(209, 60, 60);
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 11px 18px;
    margin-left: 40px;
}
.container{
    padding: 20px 60px;
}
.search-input{
    min-width: 713px;
    width: 100%;
    height: 57px;
    background-color: rgba(50, 50, 50, 0.8);
    font-weight: 400;
    font-size: 20px;
    line-height: 24;
    color: #fff;

}